body {
	max-width: 900px;
	background-color: #D8F6CE;
}

main {
	width: 750px; 
	margin: 0 auto;
}

main>img:first-of-type {
	width: 320px;
}

/*
* INDEX.PHP
*
*/


/*  CARD   */
.card {
	margin : 2rem 0;
	padding: 2rem 2rem;
}

.card-title {
	margin-top: 1rem;
}

.card .btn {
	margin: 1rem 3rem;
}

.card-text i.material-icons {
	color: rgb(113, 113, 113);
	vertical-align: middle;
}

p.card-text {
	margin-bottom: 0.35rem;
}



/* FOOTER  */

footer .btn {
	background-color: inherit;
}

footer i.material-icons {
	vertical-align: middle;
}



/*
* ACTIVITE.PHP
*
*/

#enregistrer {
	margin-left: 6px;	
}

table td {
	height: 3.5rem;
}

form label {
	font-weight: inherit;
}

form p:last-of-type {
	margin-top: 2rem;
}